# Sales Analysis

### Import libraries

In [214]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# import glob

#### Task 1a: Merge the 12 months of sales data to single csv file

In [215]:
'''sales_files = glob.glob('./Sales_Data/Sales_*.csv')
df_list = [pd.read_csv(files) for files in sales_files]
data_list = pd.concat(df_list)
data_list.to_csv('all_data.csv', index=False)'''

#### Task 1b: Upload new data sheet

In [229]:
df = pd.read_csv('all_data.csv')
df.head()

<bound method DataFrame.info of        Order ID                   Product Quantity Ordered Price Each  \
0        141234                    iPhone                1        700
1        141235  Lightning Charging Cable                1      14.95
2        141236          Wired Headphones                2      11.99
3        141237          27in FHD Monitor                1     149.99
4        141238          Wired Headphones                1      11.99
...         ...                       ...              ...        ...
186845   295660    AAA Batteries (4-pack)                2       2.99
186846   295661      USB-C Charging Cable                1      11.95
186847   295662  Lightning Charging Cable                1      14.95
186848   295663    AAA Batteries (4-pack)                1       2.99
186849   295664              Google Phone                1        600

            Order Date                       Purchase Address
0       01/22/19 21:25        944 Walnut St, Boston, MA 02215
1       01/28/19 14:15       185 Maple St, Portland, OR 97035
2       01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3       01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4       01/25/19 11:59          387 10th St, Austin, TX 73301
...                ...                                    ...
186845  11/04/19 14:17      574 4th St, Los Angeles, CA 90001
186846  11/23/19 07:22           359 1st St, Austin, TX 73301
186847  11/13/19 16:12          900 10th St, Boston, MA 02215
186848  11/17/19 17:08        592 Sunset St, Boston, MA 02215
186849  11/17/19 16:13       428 Jackson St, Boston, MA 02215

[186850 rows x 6 columns]>

#### Task 1c: Clean up the data

In [217]:
# See how many rows of NaN
nan_df = df[df.isna().any(axis=1)]

# Drop rows of NaN
df = df.dropna(how='all')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [218]:
# Find the error value from Month column
df = df[df['Order Date'].str[0:2] != 'Or']

#### Task 2a: Investigate Data Frame for titles, data types, and number of columns and rows

In [233]:
df.info

<bound method DataFrame.info of        Order ID                   Product Quantity Ordered Price Each  \
0        141234                    iPhone                1        700
1        141235  Lightning Charging Cable                1      14.95
2        141236          Wired Headphones                2      11.99
3        141237          27in FHD Monitor                1     149.99
4        141238          Wired Headphones                1      11.99
...         ...                       ...              ...        ...
186845   295660    AAA Batteries (4-pack)                2       2.99
186846   295661      USB-C Charging Cable                1      11.95
186847   295662  Lightning Charging Cable                1      14.95
186848   295663    AAA Batteries (4-pack)                1       2.99
186849   295664              Google Phone                1        600

            Order Date                       Purchase Address
0       01/22/19 21:25        944 Walnut St, Boston, MA 02215
1       01/28/19 14:15       185 Maple St, Portland, OR 97035
2       01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3       01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4       01/25/19 11:59          387 10th St, Austin, TX 73301
...                ...                                    ...
186845  11/04/19 14:17      574 4th St, Los Angeles, CA 90001
186846  11/23/19 07:22           359 1st St, Austin, TX 73301
186847  11/13/19 16:12          900 10th St, Boston, MA 02215
186848  11/17/19 17:08        592 Sunset St, Boston, MA 02215
186849  11/17/19 16:13       428 Jackson St, Boston, MA 02215

[186850 rows x 6 columns]>

#### Task 2b: Change the data types of object to number and dates

In [220]:
def to_nums(col:str):
    df[col] = pd.to_numeric(df[col])
    return df[col]

In [221]:
to_nums('Quantity Ordered')
to_nums('Price Each');

In [222]:
df.dtypes

Order ID             object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

#### Task 2c: Add a month column with order date

In [223]:
df['Month'] = df['Order Date'].str[0:2]
df['Month'] = pd.to_numeric(df['Month'])
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",1
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",1
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",1
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",1
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",1

In [224]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,141234,iPhone,1,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",1,700.00
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",1,14.95
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",1,23.98
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",1,149.99
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",1,11.99