# Sales Analysis

### Import libraries

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [16]:
sales_files = glob.glob('./Sales_Data/Sales_*.csv')
df_list = [pd.read_csv(files) for files in sales_files]
df = pd.concat(df_list)
df.shape

(186850, 6)

In [26]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [54]:
def to_nums(col):
    df[col] = pd.to_numeric(df[col], errors='ignore')
    return df[col]

In [74]:
to_nums('Quantity Ordered')
to_nums('Price Each')
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='ignore')
df.dtypes

Order ID                    object
Product                     object
Quantity Ordered           float64
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
dtype: object

In [75]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1.0,1700.00,NaT,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1.0,600.00,NaT,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1.0,11.95,NaT,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1.0,149.99,NaT,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1.0,11.95,NaT,"43 Hill St, Atlanta, GA 30301"